<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Filme</title>
</head>
<body>
<h1>Cadastrar Novo Filme</h1>

<form action="#" th:action="@{/filmes/salvar}" th:object="${Filme}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" th:field="*{nome}" required />

    <label for="ano">Ano:</label>
    <input type="number" th:field="*{ano}" required />

    <label for="genero">Gênero:</label>
    <input type="text" th:field="*{genero}" required />

    <label for="duracao">Duração:</label>
    <input type="number" th:field="*{duracao}" required />

    <button type="submit">Salvar</button>
</form>

</body>
</html>
